.buttonOrder {
	background:#000;
	color:#fff;
	font-size: 20px;

	padding: 5px 20px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	
}
.buttonOrder:hover {
	cursor: pointer;
	background: #444;
}
/*.goCheckout { display: none; }*/
#GoPrev, #GoNext, #GoCurr {
	float: left;
	padding-right: 2em;
	background-color: #eee;
	padding: 10px;
}
